<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        .box{
    width: 200px;
    height: 200px;
    background-color: #3498db;
    position: relative;
        }
        .box-2{
            width: 100px;
            height: 50px;
            background-color: red;
            position: absolute;
            right: 0;
            top: 0;
        }

    </style>
</head>
<body>
   <h1> <header>Header</header></h1>
<div class="container">
    <div class="shop">
        <p>
            SHOP AO BONG DA
        </p>
    </div>
<div id="app">
        <h1>Count: {{counter}}</h1>
        <button v-on:click="handleClick(3)">Click me</button>
        
        </button>
    <div class="box" v-on:mousemove="handleMouseMove">
        <p>ClientX:{{ clientX }}</p>
        <p>ClientY:{{ clientY }}</p>
        <div class="box-2" v-on:mousemove="handleMouseMoveChild">
            <p>ClientF:{{ clientF }}</p>
        </div>
    </div>
    <hr>`
    <button v-on:click="a++">A=A+1</button>
    <button v-on:click="b++">B=B+1</button>
    <p>Number + A = {{ addA}}</p>
    <p>Number + B = {{ addB }}</p>

    <h1>FirstName ={{ firstName }}</h1>
    <form action="./server.php" v-on:submit.prevent="handleSubmitForm">
        <label>Nhap firstName</label>
        <input v-model="firstName" type="text" placeholder="firstName"> <br>
        <label>Nhap email</label>
        <input type="email" name="email" ><br>
        <input type="submit" value="Dang nhap">
        <br>
        <input type="radio" id="admin" value="Admin" v-model="picked">
        <label for="admin">Admin</label>
        <input type="radio" id="users" value="Users" v-model="picked">
        <label for="users">Users</label>
        <br>
        <span>Picked: {{ picked }}</span>

    </form>
        

</div>
    <footer><h1>Footer</h1></footer>
</body>
<script src="main.js"></script>
</html>