body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
img {
    max-width: 100%;
}
.product {
    max-width: 700px;
    display: flex;
    margin-top: 20px;
    position: relative;
}
.product .product-image {
    flex-basis: 40%;
    max-width: 40%;
    padding-right: 30px;
}
.product .product-content {
    flex-basis: 60%;
}
.product-image .image {
    width: 100%;
    border: 1px solid #ccc;
}
.product-image .image img {
    display: block;
}
.title {
    margin-top: 0;
}
.title a {
    color: #333;
    text-decoration: none;
}
.cart {
    display: inline-block;
    padding: 15px 10px;
    border: 1px solid #ccc;
}
.wrapper-price .final-price {
    color: #f57224;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}
.wrapper-price .origin-price,
.wrapper-price .sale-price {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    vertical-align: middle;
}
.wrapper-price .sale-price {
    color: #333;
    margin-left: 5px;
    padding: 3px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #f57224;
}

.wrapper-color {
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.wrapper-color .text {
    width: 100px;
    min-width: 100px;
}
.wrapper-color p {
    margin-top: 0;
    margin-bottom: 10px;
}
.list-color ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.list-color ul li {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    margin-right: 20px;
}
.list-color ul li:hover,
.list-color ul li.active {
    border-color: #f57224;
}

.description {
    max-width: 700px;
}
.description .extra-info {
    padding-left: 0;
    list-style-position: inside;
}
.add-to-cart {
    border: 1px solid #ffb916;
    background: #ffb916;
    color: #fff;
    display: block;
    padding: 12px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}
header {
    color: #fff;
    padding: 15px 30px;
    background-color: #3498db;
}
footer {
    color: #fff;
    padding: 15px 30px;
    background-color: #34495e;
}
header h1, footer h1 {
    margin: 0;
}
.box{
    width: 200;
    height: 200;
    background-color: #3498db;
}