<template>
    <div>
            <label><input type="checkbox" :checked="!anyRemaining"
            @change="allChecked"> Check All</label>
    </div>
</template>


<script>
import {bus} from '../main'
export default {
    name: 'todo-check-all',
    props:{
        anyRemaining:{
            type: Boolean,
            required: true,
        }
    },
    methods:{
        allChecked() {
        bus.$emit('checkAllChanged', this.anyRemaining)
    }
  }
}
</script>
