<template>
  <div >
 <input type="text" class="todo-input" placeholder="What needs to be done" v-model="newTodo" @keyup.enter="addTodo">
    <transition-group name="fade" enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
    <todo-item v-for="(todo, index) in todosFiltered" :key="todo.id" :todo="todo" :index="index" :checkAll="!anyRemaining" >
    </todo-item>
    </transition-group>
        <div class="extra-container">
            <todo-check-all :anyRemaining="anyRemaining"></todo-check-all>
            <todo-items-remaining></todo-items-remaining>
            
        </div>
        <div class="extra-container">
            <todo-filtered></todo-filtered>
            <div>
                <transition name="fade">
           <todo-clear-completed
           :showClearCompletedButton="showClearCompletedButton"></todo-clear-completed>
                </transition>
            </div>
        </div>
        
    </div>

  
</template>


<script>
import TodoItem from './TodoItem'
import TodoItemsRemaining from './TodoItemsRemaining'
import TodoCheckAll from './TodoCheckAll'
import  {bus} from '../main'
import TodoFiltered from './TodoFiltered'
import TodoClearCompleted from './TodoClearCompleted'



export default {
  name: 'todo-list',
  components: {
    TodoItem,
    TodoItemsRemaining,
    TodoCheckAll,
    TodoFiltered,
    TodoClearCompleted,
  },

  data() {
    return{
        newTodo:'',
        idForTodo:3,
        beforeEditCache:'',
        filter:'all',
        todos:[
            {
                'id':1,
                'title':'Finish Vue Screencast',
                'completed':false,
                'editing':false
            },
            {
                'id':2,
                'title':'Take over world',
                'completed':false,
                'editing':false
            },
        ]
    }

},

created() {
bus.$on('removedTodo', (index) => this.removeTodo(index))
bus.$on('finishedEdit', (data) => this.finishedEdit(data))
bus.$on('checkAllChanged', (checked) => this.checkedTodos(checked))
bus.$on('filterChanged', (filter)=> (this.$store.state.filter=filter))
bus.$on('clearCompletedTodos', ()=> this.clearCompleted())
},
 beforeDestroy(){
bus.$off('removedTodo', (index) => this.removeTodo(index))
bus.$off('finishedEdit', (data) => this.finishedEdit(data))
bus.$off('checkAllChanged', (checked) => this.checkedTodos(checked))
bus.$off('filterChanged', (filter)=> this.$store.state.filter=filter)
bus.$off('clearCompletedTodos', ()=> this.clearCompleted())
    },

computed:{
    remaining() {
        return this.$store.getters.remaining
    },
    anyRemaining(){
        return this.$store.getters.anyRemaining
    },
    todosFiltered(){
        return this.$store.getters.todosFiltered
        },
        showClearCompletedButton(){
            return this.$store.getters.showClearCompletedButton
        }

    },

    methods:{
        addTodo(){
            if (this.newTodo.trim().length == 0){
                return
            }

            this.$store.state.todos.push({
                id: this.idForTodo,
                title:this.newTodo,
                completed:false,
            })
            this.newTodo=''
            this.idForTodo++
        },
    
        removeTodo(index){
            this.$store.state.todos.splice(index, 1)
        },
        checkAllTodos(){
            this.$store.state.todos.forEach((todo) => todo.completed = event.target.checked)
        },
        clearCompleted(){
            this.$store.state.todos = this.$store.state.todos.filter(todo => !todo.completed)
        },
        finishedEdit(data){
            this.$store.state.todos.splice(data.index, 1, data.todo)
        }
        


    }
  
}
</script>

<style lang="scss">
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");

.todo-input{
    width: 100%;
    padding: 10px 18px 20px;
    font-size: 19px;
    margin-bottom: 16px;


    &:focus{
        outline: 0;
    }
 

}
.todo-item{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 0.3s;
}
.remove-item{
    cursor: pointer;
    margin-left: 14px;
 
}
.todo-item-edit{
    font-size: 24px;
    color: #2c3e50;
    margin-left: 12px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;

    &:focus{
        outline: none;
    }

}
.completed{
    text-decoration: line-through;
    color: gray;
}
.extra-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border-top: 1px solid lightgrey;
    padding-top: 14px;
    margin-bottom: 14px;
}

button{
    font-size: 14px;
    background-color: #fff;
    appearance: none;
}



.active{
    background: lightgreen;
}

.fade-enter-active, .fade-leave-active{
    transform: opacity .2s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
</style>
